---
import Wrapper from '../components/wrapper.astro';
import Layout from '../layouts/Layout.astro';
import { PROJECTS } from '../data/projects';
import Link from '../components/link.astro';
import { getI18N } from '../i18n';

const { currentLocale = 'en' } = Astro;

const i18n = getI18N({
  currentLocale,
});
---

<Layout title='Projects'>
  <Wrapper>
    <div class='hero'>
      <div>
        <h1>{i18n.LABEL_MY_WORK}</h1>
        <p class='intro'>{i18n.TEXT_PROJECTS_PAGE}</p>
      </div>
      <img
        class='js-illustration'
        src='/illustration/javascript_illustration.svg'
        alt='javascript illustration'
      />
    </div>
  </Wrapper>

  <main>
    <Wrapper>
      <hr />

      <div class='grid'>
        {
          PROJECTS.map((project) => (
            <article>
              <div class='cover'>
                <div class='card-links'>
                  <Link
                    className='p-inline-0'
                    url={project.repository}
                    target='_blank'
                  >
                    <img
                      width='30'
                      height='30'
                      src='/logos/github-icon.svg'
                      alt='external link icon'
                    />
                    <span class='sr-only'>Github Repository</span>
                  </Link>
                  <Link
                    className='p-inline-0'
                    url={project.demo}
                    target='_blank'
                  >
                    <img
                      width='30'
                      height='30'
                      src='/logos/link.svg'
                      alt='external link icon'
                    />
                    <span class='sr-only'>Demo</span>
                  </Link>
                </div>
                <div class='backdrop' />
                <div
                  class='image'
                  style={{
                    backgroundImage: `url(${project.image})`,
                    backgroundSize: 'cover',
                  }}
                />
              </div>

              <div class='project-description'>
                <h2>{project.name}</h2>
                <p> {project.smallDescription[currentLocale]} </p>
              </div>
            </article>
          ))
        }
      </div>
    </Wrapper>
  </main>
</Layout>

<style>
  .intro {
    font-size: 20px;
    max-width: 700px;
    text-wrap: balance;
    color: var(--just-white);
  }

  h1 {
    color: var(--baby-blue-eyes);
    align-self: flex-end;
  }

  article:hover .image {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
  }

  .js-illustration {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .card-links {
    position: absolute;
    display: flex;
    right: 10px;
    top: 10px;
    z-index: 2;
  }

  .cover {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }

  article .image {
    transition: transform 0.5s ease-in-out;
  }

  .backdrop {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(27, 27, 27);
    background: linear-gradient(
      356deg,
      rgba(27, 27, 27, 0.109) 0%,
      rgba(0, 0, 0, 0.13) 35%,
      rgba(8, 8, 8, 0.843) 100%
    );
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #1d1d20;
  }

  img {
    max-width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-block: 100px;

    @media (min-width: 400px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  h3 {
    color: var(--just-white);
  }

  .image {
    width: 100%;
    height: 220px;
    border-radius: 1rem;
  }

  .project-description {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  .project-description p {
    justify-self: flex-end;
  }

  .hero {
    text-align: center;
    display: flex;
    gap: 2rem;
    margin-top: 4rem;

    img {
      width: 450px;
    }

    @media (min-width: 768px) {
      text-align: start;
    }
  }

  hr {
    border-color: rgba(255, 255, 255, 0.052);
    margin-top: 4rem;
  }
</style>
