---
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';

interface Props {
  title: string;
  description: string;
  demo: string;
  twDemo: string;
  screenshot: string;
}

const { title, description, demo, screenshot, twDemo } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name='description'
      content={description}
    />

    <!-- Facebook Meta Tags -->
    <meta
      property='og:url'
      content={demo}
    />
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:title'
      content={description}
    />
    <meta
      property='og:description'
      content={description}
    />
    <meta
      property='og:image'
      content={screenshot}
    />

    <!-- Twitter Meta Tags -->
    <meta
      name='twitter:card'
      content='summary_large_image'
    />
    <meta
      property='twitter:domain'
      content={twDemo}
    />
    <meta
      property='twitter:url'
      content={demo}
    />
    <meta
      name='twitter:title'
      content={description}
    />
    <meta
      name='twitter:description'
      content={description}
    />
    <meta
      name='robots'
      content='index, follow'
    />
    <meta
      name='twitter:image'
      content={screenshot}
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicon/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/favicon/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/favicon/favicon-16x16.png'
    />
    <link
      rel='manifest'
      href='/favicon/site.webmanifest'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --body-color: #141414;
    --baby-blue-eyes: #9fcdf7;
    --absolute-zero: #003ebf;
    --portage: #8aa2f1;
    --txt-color: #cacfd5;
    --pale-cornflower-blue: #a7d1f7;
    --just-white: #fff;
    --max-width: 1200px;
    --just-grey: #d1d5db;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--body-color);
    color: var(--txt-color);
    background-size: 224px;
  }

  body {
    margin: 0;
    font-family: 'nunito', sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Nunito-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Nunito-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Nunito-Bold.woff2') format('woff2');
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'nunito', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  .profession {
    color: var(--pale-cornflower-blue);
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
</style>
